version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      eslint:
        patterns:
          - "eslint"
          - "@eslint/js"
      eslint-next:
        patterns:
          - "@next/eslint-plugin-next"
          - "eslint-config-next"
      mantine:
        patterns:
          - "@mantine/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      sentry:
        patterns:
          - "@sentry/*"
      tiptap:
        patterns:
          - "@tiptap/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "terraform"
    directory: "/terraform"
    schedule:
      interval: "weekly"
