services:
  db:
    image: mariadb:lts
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "33306:3306"
    volumes:
      - db_data:/var/lib/mysql

  mailpit:
    image: axllent/mailpit
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  db_data:
