name: Unit Tests with Coverage

on:
    push:
    pull_request:
    workflow_dispatch:

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Generate prisma client and zod schemas
              run: npm run generate

            - name: Run tests
              run: npm run test:vitest:coverage

            - name: Upload results to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
